@using Microsoft.AspNetCore.Components.Authorization
@using ResumePortfolioBuilder.Web.Authentication
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthStateProvider

<AuthorizeView>
    <Authorized>
        <div class="user-info">
            <span>Hello, @context.User.Identity?.Name!</span>
            <button class="btn btn-link" @onclick="LogoutAsync">Logout</button>
        </div>
    </Authorized>
    <NotAuthorized>
        <a href="login" class="btn btn-primary">Login</a>
        <a href="register" class="btn btn-outline-primary ml-2">Register</a>
    </NotAuthorized>
</AuthorizeView>

@code {
    private async Task LogoutAsync()
    {
        var authStateProvider = (CustomAuthenticationStateProvider)AuthStateProvider;
        await authStateProvider.UpdateAuthenticationState(null);
        NavigationManager.NavigateTo("/", true);
    }
} 